<header class="all-header">
  <div class="all-header-logo">
    <a href="index.html">
      <img src="assets/images/logo.png" alt="ジオサイン GeoSign" />
    </a>
  </div>
  <!-- ハンバーガーメニュー -->
  <div class="hamburger-menu" id="hamburgermenu">
    <div class="ham-menu-inner">
      <span></span>
      <span></span>
    </div>
  </div>
  <nav class="hamburger-menu-nav" id="hamburgermenunav">
    <ul class="ham-nav">
      <li class="pull-down-menu pdm-ham">
        製品紹介 <i class="fa-solid fa-chevron-down"></i>
      </li>
      <li class="pull-down-menu-sub">
        <ul class="sub-menu">
          <li><a href="geoweb-research.html">GeoWeb地盤調査</a></li>
          <li><a href="g-report.html">G-Report</a></li>
          <li><a href="geoweb-photocross.html">GeoWebPhoto/Cross</a></li>
        </ul>
      </li>
      <li>
        <a href="development.html">受託開発</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <div class="btn ham-nav-btn">
          <a href="#"><span>トライアル申込はこちら</span></a>
        </div>
      </li>
    </ul>
  </nav>
  <nav class="all-header-nav">
    <ul class="header-nav">
      <li class="pull-down-menu pdm-header-nav">
        製品紹介 <i class="fa-solid fa-chevron-down"></i>
      </li>
      <li>
        <ul class="sub-menu sub-menu-absolute">
          <li><a href="geoweb-research.html">GeoWeb地盤調査</a></li>
          <li><a href="g-report.html">G-Report</a></li>
          <li><a href="geoweb-photocross.html">GeoWebPhoto/Cross</a></li>
        </ul>
      </li>
      <li>
        <a href="development.html">受託開発</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
    </ul>
  </nav>
  <div class="header-nav-btn">
    <div class="btn">
      <a href="#"><span>トライアル申込</span></a>
    </div>
  </div>
</header>
